h1{
    text-align: center;
    color: blue;
    
}

* {
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:whitesmoke;
  }
  
  /* Float four columns side by side */
  .column {
    float:left;
    width: 25%;
    padding: 0 10px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6%;
  
  
    
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    

  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }




  /* Float four columns side by side */
  .col {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-left: 6%;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .hob {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .hob:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .col {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .c{
      color: white;
      background-color: white;
  }

  .container{ 
  }
 

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 10%; /* Full width */
    padding: 5px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  hr{
    color: blue;
  }